<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="bg-dark position-fixed w-100">
  <div class="container p-2 position-relative">
    <a class="top-bar-title" href="/">{{title}}</a>
    <span class="btn-group-sm float-right">
      <i class="text-white material-icons">search</i>
      &nbsp;
      <i class="text-white material-icons">account_circle</i>
    </span>
  </div>
</div>
<br>
<br><!--Top bar is positioned absolute, hence to prevent certain part getting overlapped by it we use few line-breaks-->

