<div class="container" *ngIf="qnaObj!=undefined">
  <br>
  <button class="ask-button" (click)="navigateToAskPage()">Ask Question</button>
  <h2>
    {{qnaObj.question}}
  </h2>
  <div>
    Asked On: {{qnaObj["addedOn"]}}
  </div>
  <hr>
  <p [innerHTML]="qnaObj.body"></p>
  <div>
    <div class="float-right pl-3 pr-3 pt-2 pb-2 rounded-pill" style="background-color: #4b3f9121;">
      Asked by <strong>{{qnaObj["addedBy"]["username"]}}</strong>
    </div>
    <br><br>
  </div>
  <hr>

  <h4>{{qnaObj["answers"].length}} Answer{{qnaObj["answers"].length>1?'s':''}}</h4>
  <br>
  <div *ngFor="let answerObj of qnaObj['answers']">
    <app-answer-cell [answerObj]="answerObj"></app-answer-cell>
  </div>

  <h4>Your Answer</h4>
  <app-create-answer [questionId]="qnaObj.id"></app-create-answer>
</div>
