<div>
  <div class="create-answer-options-body row">
    <div>
      <strong (click)="createBoldText()" style="cursor: pointer;">B</strong>&nbsp;
      <i (click)="createItalicText()" style="font-family: 'Source Code Pro',sans-serif">I</i>
    </div>
  </div>
  <div class="row">
    <textarea [(ngModel)]="editorTextMd" (input)="convertMdToHtml()" class="answer-body-editor col"></textarea>
    <div [innerHTML]="editorTextConverted" class="answer-body-preview col"></div>
  </div>
  <br>
  <button [disabled]="newAnswerButtonDisabled" (click)="addAnswerToQuestionById(questionId, editorTextConverted)" class="add-answer-button row">Post Your Answer</button>
</div>
